<ion-header>
  <ion-toolbar  color="success" >
    <ion-title>Personal Information</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="folder"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
  <ion-card-header>
    <ion-card-subtitle>My Fullname</ion-card-subtitle>
    <ion-card-title>Supriya Gadkari</ion-card-title>
  </ion-card-header>
  <ion-card-header>
    <ion-card-subtitle>Student ID</ion-card-subtitle>
    <ion-card-title>301140872</ion-card-title>
  </ion-card-header>
</ion-card>
</ion-content>
