<ion-header [translucent]="true">
  <ion-toolbar color="success"  >
    <ion-buttons slot="start">
      <ion-menu-button ></ion-menu-button>
    </ion-buttons>
    <ion-title>Pay Calculator</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Enter payment details</ion-card-subtitle>
      <ion-item>
        <ion-label position="floating">Number of hours worked</ion-label>
        <ion-input [(ngModel)]="noofhrsworked" name="noofhrsworked" type="number" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Hourly rate</ion-label>
        <ion-input [(ngModel)]="hourlyrate" name="hourlyrate" type="number" required></ion-input>
      </ion-item>
      <ion-button color="success" (click)="calculatePay()" type="submit" expand="block"  >Calculate</ion-button>
    </ion-card-header>  
 </ion-card>
 <ion-card id="calculationResult">
  <ion-card-header>
    <ion-card-subtitle>Regular pay</ion-card-subtitle>
    <ion-card-title>${{regularPay}}</ion-card-title>
    <ion-card-subtitle>Overtime pay</ion-card-subtitle>
    <ion-card-title>${{overTime}}</ion-card-title>
    <ion-card-subtitle>Total pay</ion-card-subtitle>
    <ion-card-title>${{totalPay}}</ion-card-title>
    <ion-card-subtitle>Tax</ion-card-subtitle>
    <ion-card-title>{{taxOnPay}}</ion-card-title>
  </ion-card-header>
  </ion-card>
  
</ion-content>
